In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('mydb.db')
cur = conn.cursor()

In [3]:
orders = cur.execute('''SELECT * FROM order_db''')
orders_df = pd.DataFrame(orders)
orders_df.columns = ['order_id','user_name','product','shipment','pick_location','dest_location','ship_date','create_date']

In [4]:
orders_df

,order_id,user_name,product,shipment,pick_location,dest_location,ship_date,create_date
0,7,kardia,table,ship,China,Canada,2021-12-19,2021-12-14
1,8,kardia,Sofa,Train,U.S.A,Canada,2021-12-19,2021-12-14
2,9,xiong,Table,Ship,India,China,2021-12-24,2021-12-14
3,10,xiong,Sofa,Truck,China,China,2021-12-14,2021-12-14
4,11,xiong,Xerox machine,Ship,U.S.A,U.S.A,2021-12-14,2021-12-14
5,12,xiong,Sofa,Ship,U.S.A,U.S.A,2021-12-16,2021-12-14
6,13,xiong,Table,Flight,Canada,Canada,2021-12-15,2021-12-14
7,14,tan,Table,Flight,Canada,Canada,2021-12-15,2021-12-14
8,15,tan,Xerox machine,Ship,U.S.A,U.S.A,2021-12-16,2021-12-14
9,16,tan1,Table,Flight,Canada,Canada,2021-12-15,2021-12-14
10,17,xiong,Xerox machine,Ship,U.S.A,U.S.A,2021-12-16,2021-12-14
11,18,KAN,Table,Flight,Canada,U.S.A,2021-12-20,2021-12-14
12,19,KAN,Xerox machine,Ship,China,U.S.A,2021-12-20,2021-12-14
13,20,KAN,Sofa,Flight,India,U.S.A,2021-12-18,2021-12-14
14,21,KAN,Table,Ship,Canada,U.S.A,2021-12-17,2021-12-14
15,22,TIG,Xerox machine,Truck,Canada,India,2021-12-20,2021-12-14
16,23,TIG,Xerox machine,Truck,India,U.S.A,2021-12-22,2021-12-14

### 1.Most pick-dest route

In [5]:
orders_df.groupby(['pick_location','dest_location'])['order_id'].count().sort_values(ascending=False)

pick_location  dest_location
U.S.A          U.S.A            4
Canada         Canada           3
               U.S.A            2
India          U.S.A            2
Canada         India            1
China          Canada           1
               China            1
               U.S.A            1
India          China            1
U.S.A          Canada           1
Name: order_id, dtype: int64

### 2.Most shipment method

In [6]:
orders_df.groupby('shipment')['order_id'].count().sort_values(ascending=False)

shipment
Ship      7
Flight    5
Truck     3
Train     1
ship      1
Name: order_id, dtype: int64

### 3.Most favourite product

In [ ]:
orders_df.groupby('product')['order_id'].count().sort_values(ascending=False)

product
Table            4
Sofa             3
Xerox machine    3
table            1
Name: order_id, dtype: int64